body {
	overflow-x : hidden;
	background : #FFF;
	color : #FFF;
	text-align : center;
	font-family: 'Ubuntu Condensed', sans-serif;
}

/*  Css Comment  */
.ruvoPage {
	margin-top : 40px;
    border-top : #aeaeae solid 3px;
}

.ruvoPage_title {
    font-size : 28px;
	font-family:'Ubuntu Condensed', sans-serif;
	font: bolder;	
}
	
#sMedia{
    position: absolute;
    margin-top: 198px;
    z-index: 999;
    vertical-align: top;
    height: 30px;
    width:30px;


}

#appBody {
	position: absolute;
	z-index: 500;
	top : 300px;
	width : 100%;
	background : #FFF;
	color : #789;
	border-left: #FFF solid 5px;
	border-right: #FFF solid 5px;
	font-size: 22px;
}

.navbar-fixed-bottom{
            background: #626;
            height: auto;

            
}

.navbar-nav{
	position:absolute;
	top:8px;
}


#arr{
	left:420px;
	top:5px;
}

#myNavi {
	background : #666;
	position: absolute;
	z-index : 999;
    left : 0%;
	width : 100%;
	height : 30px;
	position: fixed;
}

.ruvo_navi_button { 
	font-size: 20px; 
}

#myTitle {
    position: absolute;
	z-index: 500;
    top : 33px;
    width: 100%;
	opacity : 3;  
    color : #000;
	font-size : 36px;
	background: #489;	
    font-family: 'Arvo', sans-serif;
}

#demoG{
    position: absolute;
    width: 300px
    height:300px;
    top:120px;
    right:80px;
}

#icon{
      position: absolute;
      height: 49px;
      width: 49px;
      top: 32px;
      right: 1300px;
      background: red;
}

#myIMG1 {
	position: absolute;
	left : 0%;
    top : 100px;
	z-index : 100;
	margin : 18px;
	margin-top: 35px;
	margin-left: 602px;
    width : 11%;
	height : 23%;
	display: block;

}

#ai {
    position: absolute;
    left : 350px;
    top : 1000px;
    z-index : 120;
    margin : 18px;
    margin-top: 0px;
    width : 270px;
    height : 111px;
    border : #000 solid 3px;
    float: bottom;
}
    
#html {
    position: absolute;
    left : 700px;
    top : 1000px;
    z-index : 120;
    margin : 18px;
    margin-top: 0px;
    width : 270px;
    height : 111px;
    border : #000 solid 3px;
    float: bottom;
}
 
#js {
    position: absolute;
    left : 1050px;
    top : 1000px;
    z-index : 500px;
    margin : 18px;
    margin-top: 0px;
    width : 270px;
    height : 111px;
    border : #000 solid 3px;
    background: #149;
    
}

#ableImg {
    position: absolute;
    left : 0%;
    top : 1200px;
    z-index : 100;
    margin-left: 20px;  
    width : 300px;
    height : 150px;
    border : #000 solid 3px;
    background: #888;

}

#ableImg2 {
    position: absolute;
    left : 0%;
    top : 1000px;
    z-index : 100;
    margin-left: 20px;  
    width : 270px;
    height : 111px;
    border : #000 solid 3px;
    background: #888;
}

#I3 {
	position: absolute;
	left : 680px;
	top : 1200px;
	z-index : 120;
	margin : 18px;
	margin-top: 0px;
	width : 300px;
	height : 150px;
	border : #000 solid 3px;
    float: bottom;
}

#I4 {
    position: absolute;
    left : 340px;
    top : 1200px;
    z-index : 120;
    margin : 18px;
    margin-top: 0px;
    width : 300px;
    height : 150px;
    border : #000 solid 3px;
    float: bottom;
}

#I5 {
    position: absolute;
    left : 1010px;
    top : 1200px;
    z-index : 120;
    margin : 18px;
    margin-top: 0px;
    width : 300px;
    height : 150px;
    border : #000 solid 3px;
    float: bottom;
}
	
#I6 {
	position: absolute;
	left: 900px;
	top:135px;
	width: 300px;
	height: 140px
	animation: ;
}

#iLogo{
    position:absolute;
    width:100px;
    height: 84px;
    right: 1076px;
    border-right:#222 solid 2px;
    border-left: #222 solid 2px;
    z-index:9000000000

}





#aniVid{
    position:absolute;
    width: 100%;
    z-index: 100000:;
}



#I7 {
	position: absolute;
	left: 160px;
	top:135px;
	width: 300px;
	height: 140px
}

#I8 {
	position: absolute;
	left: 220px;
	top:800px;
	width: 350px;
	height: 180px
	
}

#I9 {
	position: absolute;
	left: 790px;
	top:900px;
	width: 350px;
	height: 190px
	
}

#I10 {
	margin-top:20px;
	width: 350px;
	height: 190px;
	
}

#I11 {
	margin-top:170px;
	width: 350px;
	height: 190px;
	background: #240;
}

#rec {
    position: absolute;
    left : 900px;
    top : 650px;
    z-index : 120;
    margin-top: 100px;
    width : 120px;
    height : 100px;
  
}
	
#vid1 {
    position: absolute;
    top:600px;
    left:10px;
}

#vid2 {
    position: absolute;
    top:600px;
    left: 480px;
}

#vid3 {
    position: absolute;
    top:600px;
    left: 945px;
}

#Alcove { 
	top:550px;
    z-index:1000;
    right: 370px;


}

#Alcove1{
    margin: 10px;
}

#mali {
    margin: 10px;
}
#claw{
    margin: 10px;
}
#tokyo{
    margin: 10px;
}
#blinded{
    margin: 10px;
}
#molten{
    margin: 10px;
}

.songtrack {
    position: absolute;
    width:100;
    padding: 100px

}
 


#badge1 {
  	left: 800px;
  	margin-top:950px;
}

#imageContainer {  
   
	background: #349;
}

#p6.1{
	position: absolute;
	top: 700px;
	background:#897;
}


.myItem {
	background : #444;
	font-family: 'Seaweed Script', cursive;
}      
	
.header1 {
	background: #633;
	margin-top: 12px;
}
    
.header2 {
    background: #632;
	margin-top: 12px;
}
    
.header3 {
    background: #631;
	margin-top: 12px;
}

#sa_contactdiv{
    position: absolute;
	width: 273px;
	height: 300px;
	top:520px;
	left:560px;
	background: #858;
	
}